@font-face {
  font-family: mainFont;
  src: url(../fonts/AdobeGaramondProRegular.ttf); }

* {
  margin: 0;
  font-family: mainFont;
  padding: 0;
  overflow-x: hidden; }

.wrap {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 70%; }

header {
  height: 165px;
  padding-top: 35px; }
  header .top {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    header .top .logo img {
      height: 25px; }
  header nav {
    margin-top: 50px;
    display: flex;
    font-size: 1em;
    justify-content: center;
    text-transform: uppercase; }
    header nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      width: 60%; }
      header nav ul li a {
        color: #000;
        border: 1px solid #fff;
        font-weight: 100;
        text-decoration: none;
        transition: all 0.3s ease-in-out; }
        header nav ul li a:hover {
          border-bottom: 1px solid #c7c7c7; }

.main-hero {
  background-image: url(http://via.placeholder.com/350x150);
  background-position: center;
  background-size: cover;
  height: 105vh;
  padding-top: 125px; }
  .main-hero .CTA {
    color: #fff;
    width: 525px; }
    .main-hero .CTA .btn {
      margin-top: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      width: 240px;
      height: 60px; }
      .main-hero .CTA .btn a {
        color: #000;
        text-decoration: none; }

.carousel {
  margin-left: 70px;
  margin-right: 300px;
  margin-top: 20px;
  position: relative; }
  .carousel .info {
    position: absolute;
    right: -6%;
    top: 10%;
    background: white;
    padding: 20px;
    height: 1021px;
    width: 300px;
    display: flex; }
    .carousel .info .btns {
      display: flex; }
      .carousel .info .btns .btn {
        width: 5px;
        height: 5px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: #bbbbbb; }
      .carousel .info .btns .active {
        background-color: black; }
  .carousel .current-img {
    margin-right: 50px;
    width: 100%; }
    .carousel .current-img img {
      width: 100%; }

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url(http://via.placeholder.com/350x150);
  background-position: center;
  background-size: cover;
  color: #fff; }
  .quote .quote-by {
    text-align: center;
    font-size: 0.6em;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .quote .quote-words {
    font-size: 2em; }

.new-arrivals {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px; }
  .new-arrivals .item-list {
    margin-top: 70px;
    display: flex;
    height: auto;
    justify-content: space-around; }
    .new-arrivals .item-list .item {
      padding: 40px;
      transition: all 0.3s ease-in-out;
      border: 1px solid #fff;
      text-decoration: none; }
      .new-arrivals .item-list .item img {
        margin-bottom: 90px;
        width: 95%; }
      .new-arrivals .item-list .item p {
        font-size: 1.3em;
        margin-bottom: 20px;
        text-decoration: none;
        color: #000; }
      .new-arrivals .item-list .item:hover {
        border: 1px solid #c7c7c7; }

.CTA-section {
  background-image: url(http://via.placeholder.com/350x150);
  background-position: center;
  background-size: cover;
  height: 105vh;
  padding-top: 125px; }
  .CTA-section .CTA {
    color: #fff;
    width: 525px; }
    .CTA-section .CTA .btn {
      margin-top: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      width: 240px;
      height: 60px; }
      .CTA-section .CTA .btn a {
        color: #000;
        text-decoration: none; }
  .CTA-section .line-flex {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%; }
    .CTA-section .line-flex .line {
      height: 100%;
      width: 1px;
      background-color: #fff; }

.stories {
  height: auto;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center; }
  .stories .CTA .btn {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 240px;
    height: 60px; }
    .stories .CTA .btn a {
      color: #fff;
      letter-spacing: 4px;
      text-decoration: none; }
  .stories .story-grid {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center; }
    .stories .story-grid p {
      font-size: 1.2em; }
    .stories .story-grid small {
      color: #bbbbbb;
      font-size: 0.7em; }
    .stories .story-grid .col {
      background-color: red;
      height: 100px;
      margin-bottom: 0px;
      margin-left: 0px; }
    .stories .story-grid .col-1 {
      width: 100%; }
    .stories .story-grid .col-2 {
      width: calc(50% - 0px); }
  .stories .story-block {
    margin: 20px 0; }
  .stories .story-block-tall img {
    height: 410px;
    width: 60%; }
  .stories .story-block-short img {
    height: 310px;
    margin-top: 100px;
    width: 200px; }

.story-block-wide {
  width: 430px; }
  .story-block-wide img {
    width: 60%;
    height: 300px; }

.form {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form .CTA .btn {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 240px;
    height: 60px; }
    .form .CTA .btn a {
      color: #fff;
      letter-spacing: 4px;
      text-decoration: none; }
  .form form {
    display: flex;
    flex-flow: column;
    background: #f0f0f0;
    padding: 94px;
    text-align: center;
    justify-content: center; }
    .form form h2 {
      margin-bottom: 25px; }
    .form form p {
      margin-bottom: 25px; }
    .form form input {
      height: 45px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #e6e6e6; }
    .form form .CTA {
      margin-left: 40px; }
